.trainer {

  .card-trainer {
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    .play-bounder {
      min-width: 100px;
      width: 100px;
      cursor: pointer;

      .background {
        object-fit: cover;
        width: 100%;
        max-height: 75px;
        min-height: 65px;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    .title {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #262626;
    }

    .desc {
      font-weight: 500;
      width: 100%;
      font-size: 11px;
      line-height: 13px;
      color: #262626;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0.1px;
      max-height: 36px;
    }

    .time {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #262626;
    }

    .next {
      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .ant-divider {
    margin: 10px 0;
  }

  .ant-input-affix-wrapper {
    border: none;
    background: #f0f0f0;

    .ant-input {
      background: #f0f0f0;
    }

    .bx-search-alt {
      opacity: 0.5;
    }
  }

  .ant-input-affix-wrapper-focused {
    border: none;
    box-shadow: 5px 10px 10px -10px rgba(0, 0, 0, 0.37);
  }

  .search {
    border-radius: 18px;
  }
}

.card-category {
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  .play-bounder {
    min-width: 100px;
    width: 100px;
    cursor: pointer;
    max-height: 70px;

    .background {
      object-fit: cover;
      width: 100%;
      height: 70px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .abstract {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #262626;
  }

  .title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #262626;
  }

  .desc {
    font-weight: 500;
    width: 100%;
    font-size: 11px;
    line-height: 13px;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #262626;
  }
}

.trainer-detail {
  align-items: flex-start;

  .trainer-img {
    width: 100%;
    object-fit: cover;
    max-height: 280px;
    min-height: 250px;
  }

  .head {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #262626;
  }

  .content-trainer-detail {
    text-align: justify;
    display: inline-block;
  }

  .btn {
    background-color: var(--primary-color);
    border-radius: 45px;
    align-self: center;
    width: 100%;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
