
.card-category {
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  .play-bounder {
    min-width: 100px;
    width: 100px;
    cursor: pointer;

    .background {
      object-fit: cover;
      width: 100%;
      max-height: 70px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .abstract {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #262626;
  }

  .title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #262626;
  }

  .desc {
    font-weight: 500;
    width: 100%;
    font-size: 11px;
    line-height: 13px;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #262626;
  }
}

.tag {
  padding: 6px 14px;
  border-radius: 31px;
  background: #F7F7F7;
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.tag-active {
  color: var(--primary-color);
}

.list-tag {
  overflow-x: scroll;
  max-width: 100%;
  color: #6A6A6A;
}
