
:root {
  --base-size: 1;
  --primary-color: #FD7E14;
}

@font-face {
  font-family: 'boxicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/boxicons.eot');
  src: url('../fonts/boxicons.eot') format('embedded-opentype'), url('../fonts/boxicons.woff2') format('woff2'), url('../fonts/boxicons.woff') format('woff'), url('../fonts/boxicons.ttf') format('truetype'), url('../fonts/boxicons.svg?#boxicons') format('svg')
}

@font-face {
  font-family: myFirstFont;
  src: url(../Montserrat.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  font-size: 16px;
  color: #050505;
}

.logo {
  text-align: center;
}

.logo-text {
  font-family: Azonix;
  font-size: 16px;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-flow: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

/* /* //______________Padding */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/* /* //_________Margin */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

/* /* //__________Text Align */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* /* //__________ Display */
.hidden {
  display: none;
}

.block {
  display: block;
}

/* /* //__________ Absolute */
.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* /* //__________ Cursor */
*.cursor-pointer {
  cursor: pointer;
}

/* /* //__________ Font-Size */
.h1 {
  font-size: 1.25rem;
}

.h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.75rem;
}

/* //__________ Font-Size */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/* /* //_______________widtd */
.w-full {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-8 {
  width: 2rem;
}

.w-12 {
  width: 3rem;
}

.w-200 {
  width: 200px;
}

.w-30 {
  width: 30%;
}

/* /* //_______________Height */
.h-8 {
  height: 2rem;
}

.h-12 {
  height: 3rem;
}

.h-100 {
  height: 100%;
}

/* /* //border-radius */
* .br2 {
  border-radius: 2px;
}

.br4 {
  border-radius: 4px;
}

/* /* //boder color */
.border-ccc {
  border: 1px solid #ccc;
}

.border-ant {
  border: 1px solid rgb(230, 227, 227);
}

.f-500 {
  font-weight: 500;
}

.over-hidden {
  overflow: hidden;
}

.bg-0 {
  background-color: #fff;
}

.shadow_base {
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
}

.text-nowrap-line2 {
  text-overflow: ellipsis;
  max-width: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  overflow: hidden;
}

/*@media screen and (min-width: 1216px) {
	.container {
		max-width: 1200px;
	}
}*/
@media screen and (min-width: 769px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.container {
  padding-right: calc(3 * var(--base-size));
  padding-left: calc(3 * var(--base-size));
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1044px;
  }
}

.container {
  margin: 0 auto;
  //padding: 0.75em;
}

.content_small {
  margin: auto;
}

.text-underline {
  text-decoration: underline;
}

.ant-badge-count {
  background-color: #006FBB;
}


.layout {
  background-color: white;
  min-height: 100vh;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  /*overflow-y: scroll;*/
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.start {
  text-align: start !important;
}

.end {
  text-align: end;
}

.flex-full {
  flex: 1;
  flex-grow: 1;
}

.items-end {
  align-items: flex-end;
}

.none {
  display: none;
}

.scroll-y {
  overflow-y: scroll;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px -4px 8px rgba(50, 50, 50, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  position: sticky;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 50;

  .item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.3);
  }

  .active {
    path {
      fill: var(--primary-color);
    }

    color: var(--primary-color);
  }

  .inactive {
    path {
      fill: #3D3D3D;
    }

    color: #3D3D3D;
  }
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bg-gray-1-4 {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-opacity-1 {
  opacity: 0.3;
}

.bx {
  font-family: 'boxicons' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.bxs-cloud-download:before {
  content: "\ec9f"
}

.bx-chevron-right:before {
  content: "\e9b2"
}

.bx-search-alt:before {
  content: "\eb55"
}

.items-start {
  align-items: flex-start;
}

.bxs-bookmark:before {
  content: "\ec31"
}

.bxs-minus-circle:before {
  content: "\ed9f"
}

.disabled-link {
  pointer-events: none;
  color: gray !important;

  path {
    fill: gray !important;
  }
}
