.ant-modal-content {
    border-radius: 15px;
}

.ant-modal-header {
    border-radius: 15px;
}

.checkbox {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
