$PRIMARY_COLOR: #FD7E14;

.drawer {
  .title {
    color: white;
  }
}

.login-img {
  width: 100%;
  object-fit: fill;
  height: 240px;
}

.login-form {
  padding: 40px;

  .ant-form {
    width: 100%;

    .ant-input-affix-wrapper {
      border: none;
      border-bottom: 1px solid $PRIMARY_COLOR;

      .ant-input-prefix svg {
        fill: $PRIMARY_COLOR;
      }

      .ant-input::placeholder {
        color: #fd7d1496;
      }

      input {
        padding-left: 3px;
        color: $PRIMARY_COLOR;
      }
    }
  }

  .login-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #3D3D3D;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  .btn-login {
    background-color: $PRIMARY_COLOR;
    border: none;
    border-radius: 20px;
  }

  .desc-login{
    align-self: flex-end;
    text-align: center;
  }
}

.content {
  min-height: 95vh;
}
