
.workouts {
  .card {
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      max-height: 230px;
      object-fit: cover;
      min-height: 200px;
    }

    .title {
      position: absolute;
      bottom: 5px;
      left: 5px;
      z-index: 2;
      color: white;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      font-family: Montserrat;
      text-shadow: 1px 1px 2px gray, 0 0 1em gray, 0 0 0.2em gray;

      &:hover {
        color: var(--primary-color);
      }
    }

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.6;
    }
  }
}


.filter {
  width: 100%;
  max-width: 100%;
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--primary-color);
  }

  .ant-tabs-ink-bar {
    background-color: var(--primary-color);
  }
}
