$PRIMARY_COLOR: #FD7E14;

.input-otp {
  font-size: 13px;
  padding: 10px;
  border-color: $PRIMARY_COLOR;
  border-radius: 5px;
  text-align: center;
}


.otp-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
}

.otp-label {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn {
  border-radius: 20px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  height: 28px;
  color: white;
}

.title {
  font-size: 13px;
  line-height: 18px;
  color: #181725;
  font-weight: 600;
}

.subscriber {

  .btn {
    background-color: var(--primary-color);
    border-radius: 45px;
    align-self: center;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .active {
    background-color: var(--primary-color);
  }

  .inactive {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    &:hover {
      color: var(--primary-color);
      opacity: 0.8;
    }
  }
}
