.detail {
  .banner {
    padding: -0.75em;
    color: white;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 280px;
      min-height: 200px;
    }

    .download {
      background-color: white;
      color: var(--primary-color);
      width: 73px;
      height: 73px;
      border-radius: 100%;
      //padding: 8px;
      box-shadow: 5px 14px 18px 0px rgba(0,0,0,0.45);

      i {
        font-size: 26px;
      }

      span {
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.65;
      }
    }

    .desc-1 {
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      width: 33.33%;

      .content-detail {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 3px;
      }
    }

    .info {
      background-color: rgba(0, 0, 0, 0.45);
    }

    .title-detail {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }

  }

  .card-detail {
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    .play-bounder {
      min-width: 100px;
      width: 100px;
      cursor: pointer;

      .background {
        object-fit: cover;
        width: 100%;
        max-height: 80px;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    .title {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #262626;
    }

    .time {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #262626;
      margin-top: 6px;
    }
  }

  .good-for {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2F2F2F;
  }

  .good-for-1 {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #2F2F2F;
  }

  .list-workouts-title {
    background: #F8F8F8;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #6A6A6A;
    }
  }

}
