
.thumbnail-video {
  position: relative;
}

.main-img {
  opacity: 0.6;
  border-radius: 5px;
  width: 100%;
}

.play-img {
  position: absolute;
  top: 0;
  left: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  img:hover {
    opacity: 0.7;
  }
}

.title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.time {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #818181;
}

.caption-img {
  font-size: 10px;
  line-height: 13px;
  color: #818181;
  align-self: center;
}

.desc {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
}
